.item1 { grid-area: title; }
.item2 { grid-area: subtitle; }
.item3 { grid-area: name; }
.item4 { grid-area: date; }
.item5 { grid-area: summary; }

.grid-header {
    display: grid;
    grid-template-areas:
        'title title title'
        'subtitle subtitle subtitle'
        'name date date'
        'summary summary summary';
    background-color: rgb(185, 189, 182);
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 1px;
}

.title {
    text-align: center;
    background-color: rgb(87, 191, 201);
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    padding-top: 180px;
    padding-bottom: 4px;
}

.subtitle {
    text-align: center;
    background-color: rgb(87, 191, 201);
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 300;
    padding-top: 4px;
    padding-bottom: 80px;
}

.name-date {
    text-align: center;
    background-color: rgb(185, 189, 182);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 300;
    padding-top: 22px;
    padding-bottom: 22px;
}

.summary {
    font-size: 56px;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: rgb(255, 255, 255);
}